#header
	%h2
		Your Food

.foods
	-if @user == current_user
		.new_food_button
			%a{href: '/log'} Log a Food
.foods
	-if @user.foods == []
		.no_foods
			You have no foods yet.
	-else
		-@food.each do |food|
			.food_time
				=food.created_at.strftime('%b %e, %Y %l:%M %p')
			.food_name
				=food.name
