#header
	%h1
		Simple Food Tracker
.foods
	%h3
		Simple Food Tracker is a basic tool for recording what you eat.
		%br
		%br
		There are no calorie counters, no limited food options and no complications.
	
	-if current_user
		.home_button
			%a{href: '/log'} Log a Food

	-else
		.home_button
			%a{href: '/register'} Register Now