#header
	%h1
		Simple Food Tracker
.foods
	%h3
		Simple Food Tracker is a basic tool for recording what you eat.  No calorie counts, not pre-populated foods, no problem.
	
	-if current_user
		.home_button
			%a{href: '/log'} Log a Food

	-else
		.home_button
			%a{href: '/register'} Register Now