#header
	%h1
		Simple Food Tracker

	%h2
		Simple Food Tracker is a basic tool for recording what you eat.  No calorie counts, not pre-populated foods, no extra buttons.

-if current_user
	.new_food_button
		%a{href: '/log'} Log a Food

-else
	.new_food_button
		%a{href: '/register'} Register Now