#header
	%h1
		Simple Food Tracker
.foods
	%h3
		Simple Food Tracker is a basic tool for recording what you eat.  There are no calorie counters, not limited food menus, and no complications.
	
	-if current_user
		.home_button
			%a{href: '/log'} Log a Food

	-else
		.home_button
			%a{href: '/register'} Register Now