!!!

%html
	%head
		%title Simple Food Tracker | No Features, No Complications
		%meta{name: 'viewport', content: 'initial-scale=1'}
		%link{rel: 'stylesheet', href: '/stylesheet.css', type: 'text/css'}
		%link{href: 'http://fonts.googleapis.com/css?family=Happy+Monkey|Permanent+Marker', rel: 'stylesheet', type: 'text/css'}
		%link{rel: 'icon', type: 'image/png', href: 'http://www.simplefoodtracker.com/favicon.png'}
	%body
		-if flash[:notice]
			.notice=flash[:notice]
		-if flash[:alert]
			.alert=flash[:alert]
		#navigation
			%ul.nav
				-if current_user
					%li.nav
						%a{href: "/users/#{current_user.id}"} Your Food
					%li.nav
						%a{href: '/logout'} Logout
				-else
					%li.nav
						%a{href: '/'} Home
					%li.nav
						%a{href: '/login'} Login
		=yield
