#header
	%h2
		Log a Food
#form_wrapper
	.new_food
		%form{action: '/log', method: 'POST'}
			%label{for: 'name'} What did you eat?
			%input{name: 'name'}
			%input{type: 'submit', value: 'Save Food'}