#header
	%h2
		Register
#form_wrapper
	%form{action: '/register', method: 'POST'}
		%ul
			%li
				%label{for: 'email'} Email
				%input{type: 'text', name: '[user]email'}
			%li
				%label{for: 'password'} Password
				%input{type: 'password', name: '[user]password'}
			%input{type: 'submit', value: 'Register Now'}
